@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

header {
  background-color: #131313;
}

/* .navbar-brand {
  color: white;

}

.nav-link {
  color: white;
} */

/* Do I add a media query to restyle the nav bar in desktop mode? */
.navbar-brand {
  font-size: 3em;
}
.nav-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-item a {
  font-size: 2.25em;
  /* This fixes the tiny links in the default navbar class */
}

.btn-dl {
  margin-right: 1em;
}
/* .navbar-nav {
  margin-left: 3em;
} */

.banner {
  background-color: #C6C6C6;
}

/* .banner h1, h3, p {
  color: rgb(255, 255, 255);
} */
main {
  background-color: #3F3F3F;
}
.container {
  width: 98%;
  background-color: #3F3F3F;
}

.features {
  background-color: #c6c6c6;
  padding: 2em;
}

.intro-banner {
  /* background-color: #C6C6C6; */
  margin: 3em;
  margin-top: 6em;
  padding: 3em;
  /* border-radius: 3%; */
}

.intro-buttons {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-body {
  padding: 3em;
}

.feat-heading {
  color: white;
  padding-bottom: 1em;
}

.feat-skiplinks {
  position: relative;
  top: -8em;
  margin: 4em;
  text-align: center;
}

.linkies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.feat-btns a, a:link {
  color: white;
  text-decoration: none;

}

.btn-lg {
  padding: 1.5em;
}

.feats {
  margin-bottom: 3em;
}

.feat-frame {
  width: 430px;
  height: 430px;
}

.feat-img {
  object-fit: cover;
}

.feat-text {
  /* color: white; */
  padding: 2em;
}

.display-4 {
  color: rgb(0, 0, 0);
}

.display-6 {
  color: rgb(0, 0, 0);
}



.col-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.col-8 {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/* .feat-img n:nth-child(2) {
  margin: 1em;
  margin-right: 2em;
} */

footer {
  background-color: #343a40 ;
  margin-bottom: -1em;
}

.footer-contents {
  padding: 2em;
}

.footer-text {
  color: white;
}

.col-3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.social-media {
  margin-top: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bi {
  color: white;
  margin: 1em;
}

.intro {
  display: none;
  /* wtf? this worked but now its still displaying? */
}

.feature-section {
  background-color: #C6C6C6;
}


/* .feat-frame .img-fluid {
  max-height: 165px;
  aspect-ratio: 9/16;
  height: auto;
  object-fit: cover;
} */


@media screen  and (max-width: 760px) {
  /* Mobile */

  .btn-dl {
    display: none;
  }

  .display-1 {
    color: white;
  }
  .display-3 {
    color: white;
  }

  .nav-hidden .display-5 {
    color: white;
  }

  .nav-hidden .h1 {
    color: white;
  }

  .feat-skiplinks {
    display: none;
  }
  /* Make the image frames 9:16 */

  /* .feat-frame {
    height: 450px;
    width: auto;
    aspect-ratio: 3/4;

  }

  .feat-img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }

  GPT

  .feat-frame .img-fluid {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  } */

  /* Mobile Feature Button Section */

  .feat-skiplinks {
    position: relative;
    top: -1em;
    margin: 4em;
    text-align: center;
}

  .feat-frame {
    width: 165px;
    height: 605px;
    
  }

  /* .feat-img .img-fluid {
    object-fit: fill;
    I got this working in dev tools, turning this off and writing .feat-img object-fit: cover;
  } */

  .feat-img {
    object-fit: cover ;
  }

  .img-fluid {
    height: 780px;
    width: 165px;
    /* phew got the image frame working, dont know if I need these next 2 lines */
    position: relative;
    bottom: 6em;
  }


  
  /* .feat-img {
    object-fit: contain;
  } */
  /* Okay I can't resize the image so genuinely FUCK THIS for right now, I'm moving on */

  .linkies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

    
  }

@media screen and (min-width: 780px) {
/* Tablet */
  
}

@media screen and (min-width: 1200px) {
  /* Desktop */

  .nav-hidden {
    display: none;
  }

  .intro-mobile {
    display: none;
  }

  .intro {
    display: contents;
  }
  
  .display-4 {
    color: white;
  }

  .display-6 {
    color: white;
  }

  .feat-skiplinks {
    position: relative;
    top: -1em;
    margin: 4em;
    text-align: center;
  }

  .feature-section {
    background-color:#3F3F3F;
  }

  /* .feat-skiplinks .display-3 {
    color: black;
  } */

  .feat-frame {
    width: 500px;
    height: 500px;
  }
  
  .feat-img {
    object-fit: cover;
  }

  /* .feat-frame {
  width: 430px;
  height: 430px;
}

.feat-img {
  object-fit: cover;
} */
/* Do I move this to this @media or leave it in the code above? */


}